<h2 class="title" id="allQuestionTitle">All questions</h2>
<h2 class="title" id="addQuestionTitle">Add question</h2>
<span class="btn btn-secondary col-2 offset-5" id="add-question">Add question</span>
<table class="col-10 offset-1" id="questions-table">
    {{#each this}}
    <thead>
        <tr>
            <th>{{title}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each answer}}
        <tr>
            <td> - {{this}}</td>
        </tr>
        {{/each}}
    </tbody>
    {{/each}}
</table>
<form class="form-group" method="POST" action="api/questions" id="addQuestionsForm">
    <div class="form-group" id="user-info">
        <h3>Please, fill title and three answers:</h3>
        <div class="col-10 offset-1"> 
            <input type="text" name="title" class="form-control" placeholder="Title">
        </div>
        <div class="col-10 offset-1">
            <input type="text" name="answer" class="form-control" placeholder="Answer one">
        </div>
        <div class="col-10 offset-1">
            <input type="text" name="answer" class="form-control" placeholder="Answer two">
        </div>
        <div class="col-10 offset-1">
            <input type="text" name="answer" class="form-control" placeholder="Answer trhee">
        </div>
        <div class="col-10 offset-1">
            <input type="text" name="correct_answer" class="form-control" placeholder="Correct answer">
        </div>
        <div class="offset-1">
            <button type="submit" class="btn btn-secondary" id="submit-form">Submit</button>
        </div>   
    </div>
</form>