<h2 class="title">Shrinkage Evaluetion</h2>
<div class="form-group">
    <h3>Please, fill your ID and name:</h3>
    <div class="col-4 offset-4"> 
        <input type="text" name="name" class="form-control" placeholder="ID">
    </div>
    <div class="col-6 offset-3">
        <input type="text" name="id" class="form-control" placeholder="First and last name">
    </div>    
    <div>
        <button type="submit" class="btn btn-secondary">Next</button>
    </div>    
</div>
