<div id="login-form" class="pl-1 pb-4 pt-4">
    <div class="form-group">
        <h2 class="panel-heading">Register</h2>
        <span class="error"></span>
        <span class="success"></span>
        <input type="username" id="input-username" class="form-control chat-input" placeholder="username" minlength="6" maxlength="20" required/>
        </br>
        <input type="password" id="input-password" class="form-control chat-input" placeholder="password" minlength="6" maxlength="20" required/>
        </br>
        <div class="wrapper">
            <span class="group-btn">
                <a id="joinin" class="btn btn-secondary col-2 offset-5">Join in
                    <span class="fa glyphicon glyphicon-log-in"></span>
                </a>
            </span>
        </div>
        </br>
    </div>
</div>