<div id="login-form" class="pl-1 pb-4 pt-4">
    <div class="form-group">
        <h2 class="panel-heading">Log in</h2>
        <input type="username" id="input-username" class="form-control chat-input" placeholder="username" />
        </br>
        <input type="password" id="input-password" class="form-control chat-input" placeholder="password" />
        </br>
        <div class="wrapper">
            <span class="group-btn">
                <a id="login" class="btn btn-secondary col-2 offset-5">Log in
                    <span class="fa glyphicon glyphicon-log-in"></span>
                </a>
            </span>
        </div>
        </br>
    </div>
</div>
