<h2 class="title">Profile</h2>
<form class="form-group" method="POST" action="api/login" id="container-sign-in"> 
    <h3>{{user.name}}</h3>
    <div>
        <a class="btn btn-secondary col-2 offset-5" href="/#/login">Log in</a>
    </div>
    <div>
        <a class="btn btn-secondary col-2 offset-5" href="/#/allQuestions">Questions</a>
    </div>
    <div>
        <a class="btn btn-secondary col-2 offset-5" href="/#/allResponses">Responses</a>
    </div>   
</form>