<h2 class="title">Profile {{user.username}}</h2>
<form class="form-group" id="profile-btn">
    <div>
        <a class="btn btn-secondary col-2 offset-5" href="/#/allQuestions">Questions</a>
    </div>
    <div>
        <a class="btn btn-secondary col-2 offset-5" href="/#/allResponses">Responses</a>
    </div>   
</form>