.navbar-toggler-wrap {
    left: 80%;
    position: absolute;
    top:5%;
  }
  .navbar-light .navbar-toggler  {
    border-color: white;
    color: white;
  }
  .navbar{
    position: absolute;
    top: 7%;
  }
  
  .nav-row{
    padding-top: 2em !important;
  }
  
  #menu-bar {
    border: outset 1px #000000;
    box-shadow: 2px 2px 2px  #2E2E2E;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px  #2E2E2E;
    -moz-box-shadow: 2px 2px 2px #2E2E2E;
    background: 
    linear-gradient(to bottom,  rgba(0, 0, 0, 0.06),  rgba(0, 0, 0, 0.06)),
    linear-gradient(to bottom,  rgb(255, 255, 255),  rgb(219, 219, 219)) ;
    background-position: bottom center,top center;
    background-repeat: no-repeat,no-repeat;
    background-size: 100% 50%,auto;
    height: 50%;
    position:relative;
    z-index:999;
    width: 100%;
  }
  
  #menu-bar li {
    height: 100%;
    margin: auto;
    padding: auto;  
  }
  #menu-bar a {
    color: #000000;
    display: inline; 
    font-family: 'Droid Sans', sans-serif;;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 0 0 #000000;
  }
  
  #menu-bar > li.nav-item.dropdown > ul > li:hover {
    background-color: transparent;
  }
  #menu-bar .active a, #menu-bar li:hover > a {
    color: #7D7D7D;
    text-shadow: 0 0 0 #FFFFFF;
  }
  
  .nav-link{
    padding: 8px;
    white-space:nowrap;
  }
  .navbar-expand-md .navbar-nav .nav-link{
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .navbar-collapse{
    margin-top:50px;
  }
  
  #menu-bar li:hover > ul {
    display: block;
  }
  #menu-bar ul {
    background: #DDDDDD;
    background: linear-gradient(to top,  #FFFFFF,  #CFCFCF);
    background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
    background: -moz-linear-gradient(to top,  #FFFFFF,  #CFCFCF);
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 30px;
    right: 0;
    border: solid 1px #B4B4B4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px #222222;
    -moz-box-shadow: 2px 2px 3px #222222;
    box-shadow: 2px 2px 3px #222222;
  }
  
  #menu-bar ul li {
    float: none;
    margin: 0;
    padding: 0;
  }
  #menu-bar ul a {
    color:#424242 ;
    font-family:arial;
    font-size:12px;
    font-style:normal;
    font-weight: normal;
    padding:10px 0 10px 15px;
    text-shadow: 2px 2px 3px #FFFFFF;
  }
  
  #menu-bar ul li:first-child > a {
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
  }
  #menu-bar ul li:last-child > a {
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
  }
  
  #navbarSupportedContent{
      width: 100%;
    }
  @media (min-width: 576px) {
    
  }
  
  @media screen and (min-width: 960px) {
    .navbar-toggler-wrap {
      left: 80%;
      position: absolute;
    }
  
    .navbar{
      padding-left: 16px;
      padding-right: 0;
      position: relative;
      top: none;
    }
    #menu-bar {
      height: 40px;    
    }
    .navbar-collapse{
      margin-top:0;
    }
  }