doctype html
html
  head
    title Merma
    script(src='/node_modules/jquery/dist/jquery.js')
    script(src='/node_modules/tether/dist/js/tether.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.js')
    script(src='/node_modules/sammy/lib/sammy.js')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap-reboot.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    .container
      nav.navbar.fixed-top
        div.navbar-collapse
          a.navbar-brand
            |Merma Quiz
          if user  
            a.btn.btn-sm.btn-secondary(href="#/profile") 
              |#{users.username}
            button.btn.btn-sm.btn-secondary#btn-sign-out
          else
            a.btn.btn-sm.btn-secondary(href="#/profile")
              |Log in  
      #content
      div.footer.fixed-bottom
        |Powered by Plamen Todorov
    
    script(src='/node_modules/handlebars/dist/handlebars.js')
    script(src='/public/app.js')

    script(src='/public/javascripts/data.js')
    script(src='/public/javascripts/templates.js')
    script(src='/public/javascripts/json-requester.js')

    script(src='/public/controllers/homeController.js') 
    script(src='/public/controllers/profileController.js')  
    script(src='/public/controllers/usersController.js') 