doctype html
html
  head
    title Merma
    script(src='/node_modules/jquery/dist/jquery.js')
    script(src='/node_modules/tether/dist/js/tether.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.js')
    script(src='/node_modules/navigo/lib/navigo.min.js')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap-reboot.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    nav.navbar.fixed-top
      div.navbar-collapse
        a.navbar-brand
          |Merma Quiz
        button.btn
          |Log in
    div#content.container      
      block content
    div.footer.fixed-bottom
      |Powered by Plamen Todorov
