doctype html
html
  head
    title Merma
    script(src='/node_modules/jquery/dist/jquery.js')
    script(src='/node_modules/tether/dist/js/tether.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.js')
    script(src='/node_modules/sammy/lib/sammy.js')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap-reboot.css')
    link(rel='stylesheet', href='/public/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='/public/stylesheets/nav.css')
    link(rel='stylesheet', href='/public/stylesheets/carousel.css')
  body.background-home
    header#header.container-fluid.header-home
    section.container-fluid                                          
      #content.container-fluid
    footer.container-fluid.d-flex.flex-column
      div.footer-container.row.mb-auto.mt-5.p-2
        div.col.col-left
          img.logo-footer(src="/public/images/Logo.png", alt="logo")
          strong.small.copyright
            |© 2017 20010 Modest Inc
          div
            img.float-left.p-2(src="/public/images/img-placeholder.png", alt="placeholder")
            p.small
              |Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molest. Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molest. Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molest.
        div.col.col-middle
          h2
            |Recent posts
          div#footer-recent
            ul
              li.droid.small
                  |Rhoncus quis varius sed velit nibh molestie
              li.droid.small
                  |Mauris quis nunc eu nunc molestie
              li.droid.small
                  |Egestas et sit amet odio morbi quis nunc eu
              li.droid.small
                  |Lacinia velit in nibh sodales sed quis nunc 
              li.droid.small
                  |Pharetra sem feugiat nibh sodales sed 
              li.droid.small
                  |Vivamus ut cursus augue nibh sodales sed 
        div.col.col-right
          h2
            |Archives
          div#footer-archives
            ul
              li.droid.small
                  |Rhoncus quis varius sed velit nibh molestie
              li.droid.small
                  |Mauris quis nunc eu nunc molestie
              li.droid.small
                  |Egestas et sit amet odio morbi quis nunc eu
              li.droid.small
                  |Lacinia velit in nibh sodales sed quis nunc 
              li.droid.small
                  |Pharetra sem feugiat nibh sodales sed 
              li.droid.small
                  |Vivamus ut cursus augue nibh sodales sed              
      div.row.p-2.footer-bottom
        ul.col.nav.justify-content-start.small
          li.nav-item
            a.nav-link(href="#")
              |Home
          li.nav-item
            a.nav-link(href="#")
              |About us
          li.nav-item
            a.nav-link(href="#")
              |Contact us
          li.nav-item
            a.nav-link(href="#")
              |Social
        div.col.text-right.align-middle
          p
            |Designes by 
            span
              | Plamen Todorov
            | |Powered by   
            span 
              |Telerik Academy 

    
    script(src='/node_modules/handlebars/dist/handlebars.js')
    script(src='/public/app.js')

    script(src='/public/javascripts/templates.js')
    script(src='/public/javascripts/json-requester.js')
    script(src='/public/javascripts/helper.js')
    script(src='/public/javascripts/auth.js')
    script(src='/public/javascripts/common.js')

    script(src='/public/controllers/homeController.js') 
    script(src='/public/controllers/loginController.js') 
    script(src='/public/controllers/logoutController.js') 
    script(src='/public/controllers/profileController.js') 
    script(src='/public/controllers/politicsCategoryController.js') 
    script(src='/public/controllers/sportCategoryController.js')  
    script(src='/public/controllers/worldCategoryController.js')  
    script(src='/public/controllers/headerController.js') 
    script(src='/public/controllers/usersController.js') 