extends layout

block content
  div
    |Shrinkage Evaluetion
  div
    #{questions.title}
  form(action="")
    input(type="radio")  
        #{questions.answer}
        input(type="radio")  
        #{questions.answer}
        input(type="radio")  
        #{questions.answer}
  button
    |Next